<!--Section: about-->
<section id="about">
  <strong>
    <h1 class="text-center text-black pt-5 mb-3"></h1>
  </strong>
  <div class="row">
    {% for key, item in data_template.about_skills %}
    <div class="col">
      <div class="col-lg-12 mb-5">
        <div class="d-flex align-items-start">
          <div class="flex-shrink-0">
            <div class="p-3 badge-dark rounded-pill">
              <i class="{{item.icon}} fa-lg text-light fa-fw"></i>
            </div>
          </div>
          <div class="flex-grow-1 ms-4">
            <h2 class="fw-bold mb-1">{{item.title}}</h2>

            {% include "about_accordions.html" %}

            <div class="d-flex align-items-start mt-5">
              <div class="flex-shrink-0">
                <div class="p-0 badge-primary rounded-4 shadow-5-strong">
                  <img
                    class="rounded-4 shadow-4"
                    src="{{item.expert_profil}}"
                    alt="Avatar"
                    style="width: 50px; height: 50px"
                  />
                </div>
              </div>
              <div class="flex-grow-1 ms-4">
                <p class="fw-bold mb-1">{{item.expert_name}}</p>
                <small
                  ><a href="{{item.expert_link}}" onclick="window.onload()"
                    >{{item.expert_description}}</a
                  ></small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!--Section: about-->
