<div
  class="card mb-0 bg-transparent border-top border-dark border-2 shadow-2-strong rounded-6 text-center"
  style="max-width: 220px"
>
  <div class="row g-0">
    <div
      class="card-header border-bottom border-start border-end border-dark border-2 shadow-4-strong rounded-6 bg-dark bg-gradient text-transparent"
    >
      <h2 class="fw-bold mb-1" style="color: rgba(196, 238, 230, 0.87)">
        {{item.title}}
      </h2>
    </div>
    <div class="card-body" style="z-index: 0">
      <div class="d-grid gap-0">
        {% for accorditem in item.description %}
        <button
          class="btn btn-light border-0 shadow-2-strong bg-light bg-gradient bg-opacity-50 text-center border border-dark"
          type="button"
        >
          <i
            class="{{accorditem.icon}} text-{{accorditem.color}} fa-sm me-2 opacity-70"
          ></i
          >{{accorditem.item}}
        </button>
        <hr class="hr hr-blurry my-0 py-1" />
        {% endfor %}
      </div>
    </div>
  </div>
</div>
