<div
  class="accordion bg-transparent shadow-5-strong rounded-5"
  id="{{item.title}}"
>
  {% for accorditem in item.description %}
  <div class="accordion-item bg-transparent">
    <h2 class="accordion-header bg-transparent" id="{{accorditem.item}}">
      <button
        data-mdb-collapse-init
        class="accordion-button  text-{{accorditem.color}} bg-transparent border border-dark"
        type="button"
        data-mdb-target="#{{accorditem.text_id}}"
        aria-expanded="false"
        aria-controls="{{accorditem.text_id}}"
      >
        <i
          class="fas fa-{{accorditem.icon}} text-{{accorditem.color}} fa-sm me-2 opacity-70"
        ></i
        >{{accorditem.item}}
      </button>
    </h2>
    <div
      data-mdb-collapse-init
      id="{{accorditem.text_id}}"
      class="accordion-collapse collapse"
      aria-labelledby="{{accorditem.item}}"
      data-mdb-parent="#{{item.title}}"
    >
      <div class="accordion-body">{{accorditem.text}}</div>
    </div>
  </div>
  {% endfor %}
</div>
