<!--Section: Content-->
<section id="contact">
  <strong>
    <h1 class="text-center text-black pt-5 mb-3"></h1>
  </strong>

  <div class="card text-center bg-transparent">
    <div class="card-body">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <form id="contactForm" class="needs-validation" novalidate>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline" data-mdb-input-init>
                  <input
                    type="text"
                    id="firstNameID"
                    class="form-control"
                    required
                  />
                  <label class="form-label text-dark" for="firstNameID"
                    >First name</label
                  >
                  <div class="invalid-feedback">Provide your firstname.</div>
                </div>
              </div>
              <div class="col">
                <div class="form-outline" data-mdb-input-init>
                  <input
                    type="text"
                    id="lastNameID"
                    class="form-control"
                    required
                  />
                  <label class="form-label text-dark" for="lastNameID"
                    >Last name</label
                  >
                  <div class="invalid-feedback">Provide your lastname.</div>
                </div>
              </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4" data-mdb-input-init>
              <input type="email" id="emailID" class="form-control" required />
              <label class="form-label text-dark" for="emailID"
                >Email address</label
              >
              <div class="invalid-feedback">
                Please provide a valid email address.
              </div>
            </div>

            <!-- Message content input -->
            <div id="messageText" class="form-outline mb-4" data-mdb-input-init>
              <textarea
                type="textarea"
                id="messageID"
                class="form-control"
                maxlength="1000"
                rows="8"
                cols="100"
                placeholder="Max 800 characters"
                required
              ></textarea>
              <label class="form-label text-dark" for="messageID"
                >Enter your message here</label
              >
              <p
                style="background-color: rgba(195, 199, 212, 0.3)"
                class="rounded-bottom px-2"
              >
                <span id="charCount">0</span>/800 characters
              </p>
              <div class="invalid-feedback">
                Please provide at list one word.
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 text-center">
                <!-- Submit button -->
                <button
                  type="submit"
                  class="btn btn-primary btn-block mb-4"
                  data-mdb-ripple-init
                >
                  <i class="fas fa-paper-plane"></i> Send
                </button>
              </div>
              <div class="col-md-3 text-center">
                <!-- Reset button -->
                <button
                  type="reset"
                  class="btn btn-primary btn-block mb-4"
                  data-mdb-ripple-init
                >
                  <i class="fas fa-sync"></i> Refresh
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr class="hr hr-blurry" />
      <div class="row px-5">
        {% for key, item in data_template.contact_list %}
        <div class="col-md-12">
          <div class="col-lg-12 mb-3">
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <p class="text-dark mb-1">
                  <i class="fas fa-envelope"></i> {{item.mail_adress}}
                </p>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</section>
<!--Section: Content-->
