<!--Section: Content-->
<section>
  <strong>
    <h1 class="text-center text-black pt-5 mb-3"></h1>
  </strong>

  <div class="row bg-white rounded-5 border opacity-90 shadow">
    <div class="col-md-6 pt-4">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <form class="needs-validation" novalidate>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline" data-mdb-input-init>
                  <input
                    type="text"
                    id="form3Example1"
                    class="form-control"
                    required
                  />
                  <label class="form-label" for="form3Example1"
                    >First name</label
                  >
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">Provide your firstname.</div>
                </div>
              </div>
              <div class="col">
                <div class="form-outline" data-mdb-input-init>
                  <input
                    type="text"
                    id="form3Example2"
                    class="form-control"
                    required
                  />
                  <label class="form-label" for="form3Example2"
                    >Last name</label
                  >
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">Provide your lastname.</div>
                </div>
              </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4" data-mdb-input-init>
              <input
                type="email"
                id="form3Example3"
                class="form-control"
                required
              />
              <label class="form-label" for="form3Example3"
                >Email address</label
              >
              <div class="invalid-feedback">
                Please provide a valid email address.
              </div>
              <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- Message content input -->
            <div class="form-outline mb-4" data-mdb-input-init>
              <textarea
                type="textarea"
                id="form3Example4"
                class="form-control"
                required
              ></textarea>
              <label class="form-label" for="form3Example4"
                >Enter your message here</label
              >
              <div class="invalid-feedback">
                Please provide at list one word.
              </div>
              <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="col-md-3 text-center">
              <!-- Submit button -->
              <button
                type="submit"
                class="btn btn-primary btn-block mb-4"
                data-mdb-ripple-init
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="vr vr-blurry mx-5 mb-0"></div>

    <div class="col-md-4 pt-4">
      {% for key, item in data_template.contact_list %}
      <div class="row">
        <div class="col-lg-12 mb-5">
          <div class="d-flex align-items-start">
            <div class="flex-shrink-0">
              <div class="p-3 badge-primary rounded-4">
                <i class="fas fa-circle-info fa-lg text-primary fa-fw"></i>
              </div>
            </div>
            <div class="flex-grow-1 ms-4">
              <p class="fw-bold mb-1">{{item.title}}</p>
              <p class="text-muted mb-1">
                <i class="fas fa-at"></i> {{item.mail_adress}}
              </p>
              <p class="text-muted mb-1">
                <i class="fas fa-phone"></i> {{item.phone}}
              </p>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
<!--Section: Content-->
