<!--Footer-->
<footer class="bg-light text-lg-start">
  <div class=" social-media-div text-center py-3 align-items-center" >
    <a href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" 
    class="btn btn-primary btn-floating mx-5 p-5" 
    role="button" data-mdb-ripple-init
    rel="nofollow" target="_blank">
      <i class="fab fa-youtube fa-2xl"></i>
    </a>
    <a href="https://www.facebook.com/mdbootstrap" 
    class="btn btn-primary btn-floating mx-5 p-5" 
    role="button" rel="nofollow" data-mdb-ripple-init
    target="_blank">
      <i class="fab fa-facebook-f fa-2xl"></i>
    </a>
    <a href="https://twitter.com/MDBootstrap" 
    class="btn btn-primary btn-floating mx-5 p-5" 
    role="button" rel="nofollow" data-mdb-ripple-init
    target="_blank">
      <i class="fab fa-twitter fa-2xl"></i>
    </a>
    <a href="https://github.com/mdbootstrap/mdb-ui-kit" 
    class="btn btn-primary btn-floating mx-5 p-5" 
    role="button" rel="nofollow" data-mdb-ripple-init
    target="_blank">
      <i class="fab fa-github fa-2xl"></i>
    </a>
  </div>

  <!-- Copyright -->
  <div class="copyright-div text-center p-3">
    <h3>© 2025 Copyright, <a class="text-dark" href="https://dataforknow.com/">D4Know.com</a></h3>
    
  </div>
  <!-- Copyright -->
</footer>
<!--Footer-->
</html>