<!--Footer-->
<footer>
  <div
    class="d-flex flex-column social-media-div-light text-center py-3 align-items-center"
  >
    <div class="pb-3">
      {% for key, socmed in data_template.social_media_data %}
      <a
        href="{{socmed.linked_page}}"
        class="btn btn-{{socmed.btn_cls}} btn-floating mx-4 p-4 {{socmed.pulse_clas}}"
        role="button"
        data-mdb-ripple-init
        rel="nofollow"
        target="_blank"
      >
        <i class="fab fa-{{socmed.icon}} fa-2xl text-{{socmed.txt_cls}}"></i>
      </a>
      {%endfor%}
    </div>
  </div>
  <!-- Copyright -->
  <div class="copyright-div-light text-center p-1">
    <h6>
      © 2025 Copyright,
      <a class="text-dark" href="https://dataforknow.com/">D4Know.com,</a>
      NEQ : 2279172102
    </h6>
  </div>
  <!-- Copyright -->
</footer>
<!--Footer-->
