<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}

  <body>
    <!--Navbar-->
    {% include "navbar.html" %}
    <!--brand-->
    {% include "brand.html" %}

    <!--Main layout-->

    <div id="about" class="div-band-about d-flex align-items-center">
      <hr class="flex-grow-1 border border-secondary" />
      <span
        class="my-5 mx-0 px-5 py-3 text-black border border-secondary rounded-9 shadow-5-strong"
      >
        <h1>ABOUT US</h1></span
      >
      <hr class="flex-grow-1 border border-secondary" />
    </div>

    <!--about us-->
    <div class="about-div mt-0 shadow-0-strong">
      <div style="margin: 0 10%">{% include "about.html" %}</div>
    </div>

    <div class="d-flex align-items-center">
      <hr class="flex-grow-1 border border-secondary" />
      <span
        class="my-5 mx-0 px-5 py-3 text-black border border-secondary rounded-9 shadow-5-strong"
      >
        <h1>PARTNERS</h1></span
      >
      <hr class="flex-grow-1 border border-secondary" />
    </div>

    <!--Partners-->
    <div class="partners-div mt-0 pb-5 shadow-0-strong">
      <div class="container">{% include "partners.html" %}</div>
    </div>

    <div id="blogs" class="div-partners-blogs d-flex align-items-center">
      <hr class="flex-grow-1 border border-secondary" />
      <span
        class="my-5 mx-0 px-5 py-3 text-black border border-secondary rounded-9 shadow-5-strong"
      >
        <h1>BLOGS</h1></span
      >
      <hr class="flex-grow-1 border border-secondary" />
    </div>

    <!--blogs us-->
    <div class="blogs-div mt-0 shadow-0-strong">
      <div class="container">{% include "blogs.html" %}</div>
    </div>

    <div id="contact" class="div-blogs d-flex align-items-center">
      <hr class="flex-grow-1 border border-secondary" />
      <span
        class="my-5 mx-0 px-5 py-3 text-black border border-secondary rounded-9 shadow-5-strong"
      >
        <h1>CONTACT US</h1></span
      >
      <hr class="flex-grow-1 border border-secondary" />
    </div>

    <!--contact us-->
    <div class="contact-div mt-0 pb-5 shadow-0-strong">
      <div class="container">{% include "contact.html" %}</div>
    </div>

    <!--Main layout-->

    <div class="div-contact-follow d-flex align-items-center">
      <hr class="flex-grow-1 border border-black" />
      <span
        class="my-5 mx-0 px-5 py-3 text-black border border-black rounded-9 shadow-5-strong"
      >
        <h4>follow us</h4></span
      >
      <hr class="flex-grow-1 border border-black" />
    </div>

    <!--footer-->
    {% include "footer.html" %}

    <!-- MDB JS script-->
    {% include "scripts.html" %}
  </body>
</html>
