<!-- Navbar -->
<nav
  class="navbar navbar-expand-lg navbar-dark d-none d-lg-block fixed-top"
  style="z-index: 2000"
>
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a
      class="navbar-brand nav-link"
      href="#!/"
      onclick="scrollToHomeSection(event)"
    >
      <img src="../www/img/d4kico.png" alt="d4k" width="32" height="32" />
      <strong>D4K</strong>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-collapse-init
      data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="#!/#about"
            ><strong></strong
          ></a>
        </li>

        {% for key, value in data_template.navbar_menu_data%}
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{value.link}}"
            rel="nofollow"
            onclick="{{value.onclick}}(event)"
            ><strong>{{key}}</strong></a
          >
        </li>
        {% endfor %}
      </ul>

      <ul class="navbar-nav list-inline">
        <!-- Icons -->

        {% for key, value in data_template.navbar_icon_data %}
        <li class="">
          <a
            class="nav-link"
            href="{{value.link}}"
            rel="nofollow"
            target="_blank"
          >
            <i class="fab fa-{{key}} text-{{value.text}}"></i>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
