/* Define some keyframe*/

  @keyframes pulse {
    0% { box-shadow: 0px 5px 0 1px rgba(16, 80, 71, 0.22); }
    10% { box-shadow: 0px 5px 0 5px rgba(16, 80, 71, 0.20); }
    20% { box-shadow: 0px 5px 0 10px rgba(16, 80, 71, 0.18); }
    30% { box-shadow: 0px 5px 0 15px rgba(16, 80, 71, 0.16); }
    40% { box-shadow: 0px 5px 0 20px rgba(16, 80, 71, 0.14); }
    50% { box-shadow: 0px 5px 0 25px rgba(16, 80, 71, 0.12); }
    60% { box-shadow: 0px 5px 0 30px rgba(16, 80, 71, 0.10); }
    70% { box-shadow: 0px 5px 0 35px rgba(16, 80, 71, 0.09); }
    80% { box-shadow: 0px 5px 0 40px rgba(16, 80, 71, 0.08); }
    90% { box-shadow: 0px 5px 0 45px rgba(16, 80, 71, 0.07); }
    100% { box-shadow: 0px 5px 0 50px rgba(16, 80, 71, 0.01); }
  }

  @keyframes pulsesocmed {
    0% { box-shadow: 0px 5px 0 1px rgba(29, 77, 236, 0.22); }
    10% { box-shadow: 0px 5px 0 2px rgba(29, 77, 236, 0.20); }
    20% { box-shadow: 0px 5px 0 3px rgba(29, 77, 236, 0.18); }
    30% { box-shadow: 0px 5px 0 4px rgba(29, 77, 236, 0.16); }
    40% { box-shadow: 0px 5px 0 5px rgba(29, 77, 236, 0.14); }
    50% { box-shadow: 0px 5px 0 6px rgba(29, 77, 236, 0.12); }
    60% { box-shadow: 0px 5px 0 7px rgba(29, 77, 236, 0.10); }
    70% { box-shadow: 0px 5px 0 8px rgba(29, 77, 236, 0.09); }
    80% { box-shadow: 0px 5px 0 9px rgba(29, 77, 236, 0.08); }
    90% { box-shadow: 0px 5px 0 10px rgba(29, 77, 236, 0.07); }
    100% { box-shadow: 0px 5px 0 11px rgba(29, 77, 236, 0.01); }
  }

  @keyframes pulsesmd {
    0% { box-shadow: 0px 5px 0 1px rgba(236, 29, 29, 0.22); }
    10% { box-shadow: 0px 5px 0 2px rgba(236, 29, 29, 0.20); }
    20% { box-shadow: 0px 5px 0 3px rgba(236, 29, 29, 0.18); }
    30% { box-shadow: 0px 5px 0 4px rgba(236, 29, 29, 0.16); }
    40% { box-shadow: 0px 5px 0 5px rgba(236, 29, 29, 0.14); }
    50% { box-shadow: 0px 5px 0 6px rgba(236, 29, 29, 0.12); }
    60% { box-shadow: 0px 5px 0 7px rgba(236, 29, 29, 0.10); }
    70% { box-shadow: 0px 5px 0 8px rgba(236, 29, 29, 0.09); }
    80% { box-shadow: 0px 5px 0 9px rgba(236, 29, 29, 0.08); }
    90% { box-shadow: 0px 5px 0 10px rgba(236, 29, 29, 0.07); }
    100% { box-shadow: 0px 5px 0 11px rgba(236, 29, 29, 0.01); }
  }

  @keyframes pulsesml {
    0% { box-shadow: 0px 5px 0 1px rgba(255, 255, 255, 0.22); }
    10% { box-shadow: 0px 5px 0 2px rgba(255, 255, 255, 0.20); }
    20% { box-shadow: 0px 5px 0 3px rgba(255, 255, 255, 0.18); }
    30% { box-shadow: 0px 5px 0 4px rgba(255, 255, 255, 0.16); }
    40% { box-shadow: 0px 5px 0 5px rgba(255, 255, 255, 0.14); }
    50% { box-shadow: 0px 5px 0 6px rgba(255, 255, 255, 0.12); }
    60% { box-shadow: 0px 5px 0 7px rgba(255, 255, 255, 0.10); }
    70% { box-shadow: 0px 5px 0 8px rgba(255, 255, 255, 0.09); }
    80% { box-shadow: 0px 5px 0 9px rgba(255, 255, 255, 0.08); }
    90% { box-shadow: 0px 5px 0 10px rgba(255, 255, 255, 0.07); }
    100% { box-shadow: 0px 5px 0 11px rgba(255, 255, 255, 0.01); }
  }

  @keyframes pulsestw {
    0% { box-shadow: 0px 5px 0 1px rgba(0, 255, 255, 0.22); }
    10% { box-shadow: 0px 5px 0 2px rgba(0, 255, 255, 0.20); }
    20% { box-shadow: 0px 5px 0 3px rgba(0, 255, 255, 0.18); }
    30% { box-shadow: 0px 5px 0 4px rgba(0, 255, 255, 0.16); }
    40% { box-shadow: 0px 5px 0 5px rgba(0, 255, 255, 0.14); }
    50% { box-shadow: 0px 5px 0 6px rgba(0, 255, 255, 0.12); }
    60% { box-shadow: 0px 5px 0 7px rgba(0, 255, 255, 0.10); }
    70% { box-shadow: 0px 5px 0 8px rgba(0, 255, 255, 0.09); }
    80% { box-shadow: 0px 5px 0 9px rgba(0, 255, 255, 0.08); }
    90% { box-shadow: 0px 5px 0 10px rgba(0, 255, 255, 0.07); }
    100% { box-shadow: 0px 5px 0 11px rgba(0, 255, 255, 0.01); }
  }

  @keyframes pulsesgh {
    0% { box-shadow: 0px 5px 0 1px rgba(0, 0, 0, 0.22); }
    10% { box-shadow: 0px 5px 0 2px rgba(0, 0, 0, 0.20); }
    20% { box-shadow: 0px 5px 0 3px rgba(0, 0, 0, 0.18); }
    30% { box-shadow: 0px 5px 0 4px rgba(0, 0, 0, 0.16); }
    40% { box-shadow: 0px 5px 0 5px rgba(0, 0, 0, 0.14); }
    50% { box-shadow: 0px 5px 0 6px rgba(0, 0, 0, 0.12); }
    60% { box-shadow: 0px 5px 0 7px rgba(0, 0, 0, 0.10); }
    70% { box-shadow: 0px 5px 0 8px rgba(0, 0, 0, 0.09); }
    80% { box-shadow: 0px 5px 0 9px rgba(0, 0, 0, 0.08); }
    90% { box-shadow: 0px 5px 0 10px rgba(0, 0, 0, 0.07); }
    100% { box-shadow: 0px 5px 0 11px rgba(0, 0, 0, 0.01); }
  }

  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }


/* Brand page carousel styling ------------------------------------------------------------------------------------*/
#introCarousel,
#brand-carousel .carousel-inner,
#brand-carousel .carousel-item,
#brand-carousel .carousel-item.active {
    height: 80vh;
}

#brand-carousel .carousel-item:nth-child(1) {
    background-image: url('./img/logb1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#brand-carousel .carousel-item:nth-child(2) {
    background-image: url('./img/img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#brand-carousel .carousel-item:nth-child(3) {
    background-image: url('./img/img5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#brand-carousel .carousel-item:nth-child(4) {
    background-image: url('./img/img4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#brand-carousel .carousel-item:nth-child(5) {
    background-image: url('./img/img81.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.midlogo{   
    border-radius: 500px 500px; 
    border: 0px solid rgba(36, 252, 223, 0.589) ;
    opacity: 1;
    animation: pulse 3.5s ease-in infinite;
    padding: 0%;
    margin: 0;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #introCarousel {
    margin-top: -58.59px;
    }
}

.navbar .nav-link {
    color: #000000 !important;
}

.div-band-about{
    background: linear-gradient(
        0deg,
        rgba(29, 236, 198, 0.212),
        rgba(29, 236, 198, 0.212) 100%
    );
}
.div-band-about hr,
.div-band-about h1{
    border-color: rgb(2, 63, 52);
}

/* About page styling --------------------------------------------------------------------------------------------*/
.about-div{
    background-image: url('./img/img4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.226),
        rgba(29, 236, 198, 0.212) 100%
    );
}

/* Partners page styling -----------------------------------------------------------------------------------------*/
.partners-div{
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.226),
        rgba(29, 77, 236, 0.267) 100%
    );
}

/* Blogs page styling -----------------------------------------------------------------------------------------*/
.blogs-div{
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.226),
        rgba(29, 77, 236, 0.267) 100%
    );
}

.div-partners-blogs{
    background: linear-gradient(
        0deg,
        rgba(29, 77, 236, 0.267),
        rgba(29, 77, 236, 0.267) 100%
    );
}

/* Contact page styling -----------------------------------------------------------------------------------------*/
.contact-div{
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.226),
        rgba(29, 77, 236, 0.267) 100%
    );
}

.div-contact-follow{
    background: linear-gradient(
        0deg,
        rgba(29, 77, 236, 0.493),
        rgba(29, 77, 236, 0.267) 100%
    );
}

/* Footer page styling -----------------------------------------------------------------------------------------*/
.social-media-div {
    background: linear-gradient(
        0deg,
        rgba(29, 77, 236, 0.493),
        rgba(29, 77, 236, 0.493) 100%
    );
}

.copyright-div {
    background: linear-gradient(
        180deg,
        rgba(29, 77, 236, 0.493),
        rgba(29, 77, 236, 0.493) 100%
    );
}

.socmed{
    animation: pulsesocmed 3.5s ease-in infinite;
}

.socmeddg{
    animation: pulsesmd 3.5s ease-in infinite;
}

.socmedlg{
    animation: pulsesml 3.5s ease-in infinite;
}

.socmedtw{
    animation: pulsestw 3.5s ease-in infinite;
}

.socmedgh{
    animation: pulsesgh 3.5s ease-in infinite;
}

/*profile page -----------------------------------------------------------------------------------------------*/

.profile-container {
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  /* Tilted background image */
  .profile-image {
    position: relative;
    width: 500px;
    height: auto;
    z-index: -1; /* Moves image behind */
    opacity: 0.9;
  }

  .profile-image img {
    width: 100%;
    height: 200%;
    border-radius: 50px;
    transform: rotate(8deg);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  }

  /* Overlapping text card */
  .profile-card {
    background: rgba(255, 255, 255, 0.95); /* Light transparency */
    position: relative;
    /*left: 30px;*/
    background: white;
    padding: 30px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensures text stays on top */
    opacity: 0.8;
  }

  .profile-card h4 {
    color:rgb(0, 0, 0);
    font-weight: bold;
  }

  .profile-card .stars {
    color:rgb(1, 27, 56);
    font-size: 18px;
  }

  /* Responsive Fix */
  @media (max-width: 768px) {
    .profile-container {
      flex-direction: column;
      text-align: center;
    }

    .profile-card {
      position: relative;
      margin-top: -50px;
      width: 90%;
    }
  }

  .div-skills-profil{
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.226),
        rgba(255, 255, 255, 0.226) 100%
    );
  }

  .div-follow-profil{
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.226),
        rgba(137, 255, 220, 0.226) 100%
    );
  }

.profil-div{
  background: linear-gradient(
      180deg,
      rgba(137, 255, 220, 0.226),
      rgba(255, 255, 255, 0.267) 100%
  );
}

.competency-profil{
  background: linear-gradient(
      0deg,
      rgba(137, 255, 220, 0.226),
      rgba(255, 255, 255, 0.267) 100%
  );
}

/* Light footer ------------------------------------------------------------------------------------------------ */
.copyright-div-light
.social-media-div-light{
  background: linear-gradient(
    180deg,
    rgba(137, 255, 220, 0.226),
    rgba(137, 255, 220, 0.226) 100%
);
}

.accordion-collapse {
  overflow: hidden;
  transition: height 0.3s ease;
}

.accordion-icon {
  transition: transform 0.3s;
}

.accordion-icon.rotate {
  transform: rotate(180deg);
}
